.card-cart {
    margin: 30px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 30px 45px 15px 45px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.3);
}

.text-cart {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

svg {
    margin-right: 15px;
}

.amount-input {
    margin-top: 15px;
}

label svg:hover {
    transition: 0.2s;
    cursor: pointer;
    color: #3e3e3e;
}

.product-item {
    width: 100%;
    display: flex;
    border-radius: 3px;
    align-items: center;
    margin: 0 10px 15px 10px;
    border: 1px solid #c3c3c3;
    background-color: #f5f5f5;
    padding: 15px 20px 15px 20px;
    justify-content: space-between;
}

.product-img {
    width: 270px;
    height: 150px;
    margin-right: 30px;
    border: 1px solid #e6e6e6;
}

.container-img {
    display: flex;
}

.container-fields {
    display: flex;
    flex-direction: column;
}

.product-name {
    display: flex;
    font-size: 22px;
    margin-top: 30px;
    color: #181818;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .container-img {
        flex-direction: column;
    }

    .product-img {
        width: auto;
        height: 110px;
        margin-right: 0px;
    }

    .product-item {
        flex-direction: column;
    }

    .text-price {
        font-size: 24px;
        margin-top: 15px;
    }
}
