@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #0272cc;
    font-family: 'Roboto', sans-serif;
}

input {
    height: 40px;
    color: #030303;
    font-size: 16px;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    border: 2px solid #ffa850;
    background-color: #ffffff;
}

button {
    height: 40px;
    width: 150px;
    transition: 0.2s;
    font-weight: 700;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    color: rgba(0, 0, 0, 0.7);
    background-color: #ff8000;
}

button:hover {
    cursor: pointer;
    background-color: #e87500;
}

.input-number {
    text-align: right;
}